<div class="table-wrapper box-shadow">
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="ime">
      <mat-header-cell *matHeaderCellDef>Ime</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ime">{{
        element.ime
      }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="prezime">
      <mat-header-cell mat-header-cell *matHeaderCellDef
        >Prezime</mat-header-cell
      >
      <mat-cell mat-cell *matCellDef="let element" data-label="Prezime">{{
        element.prezime
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="potrvrdi">
      <mat-header-cell *matHeaderCellDef>Potvrdi</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Potvrdi">
        <button
          (click)="obradi(element.id, true)"
          mat-button
          matTooltip="Potvrdi karticu"
        >
          <mat-icon>check</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="odbij">
      <mat-header-cell *matHeaderCellDef>Odbij</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Odbij">
        <button
          (click)="obradi(element.id, false)"
          mat-button
          matTooltip="Odbij karticu"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[10, 20, 30]"
    showFirstLastButtons
  ></mat-paginator>
</div>
