<div class="table-wrapper box-shadow">
    <br>
  <form #registrationForm="ngForm" autocomplete="off">
    <div class="form-container">
      
    

      <mat-form-field appearance="outline">
        <mat-label>Price from</mat-label>
        <input
          matInput
          type="number"
          id="priceFrom"
          name="priceFrom"
          [(ngModel)]="priceFrom"
        />
        
      </mat-form-field>

      <mat-form-field appearance="outline">

          <mat-label>Price to</mat-label>
          <input
            matInput
            type="number"
            id="priceTo"
            name="priceTo"
            [(ngModel)]="priceTo"
          />

      </mat-form-field>
    </div>
      <div class="center">
        <button class="primary-button" (click)="filtriraj()" >Filter</button>
      </div>
  </form>
    


    <div>
    <mat-form-field class="filter">
      <input  matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    </div>

  
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="prices">
        <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">Price</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="prices">{{
          element.prices
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element" data-label="Name">{{
          element.name
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="levelTraining">
        <mat-header-cell mat-header-cell *matHeaderCellDef
          >Training Level</mat-header-cell
        >
        <mat-cell mat-cell *matCellDef="let element" data-label="levelTraining">{{
          element.levelTraining
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element" data-label="Description">{{
          element.description
        }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="trainingDuration">
        <mat-header-cell mat-header-cell *matHeaderCellDef
          >Training Duration</mat-header-cell
        >
        <mat-cell mat-cell *matCellDef="let element" data-label="Training duration">{{
          element.trainingDuration
        }}</mat-cell>
      </ng-container>
  


      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef >Action</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Action training">
          <button mat-icon-button (click)="addTrainingsSchedule(element.id)" *ngIf="!!roleAdmin" matTooltip="Add training schedule">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button (click)="editTrainings(element.id)" *ngIf="!!roleAdmin" matTooltip="Edit training">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="view(element.id)" matTooltip="View training">
            <mat-icon>mouse</mat-icon>
            
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  
    <mat-paginator
      [pageSizeOptions]="[10, 20, 30]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  
