<div class="center bkg-image-auth">
  <div class="card-wrapper-auth card-wrapper-registration w-700-auth">
    <div class="desc-medium">
      Fill out the form to <b> register.</b>
    </div>
    <br />
    <form #registrationForm="ngForm" autocomplete="off">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>E-mail address</mat-label>
          <input
            matInput
            type="email"
            id="email"
            name="email"
            [(ngModel)]="user.email"
            #email="ngModel"
            required
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          />
        </mat-form-field>
      </div>

      <div class="grid-2">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              id="password"
              name="password"
              [(ngModel)]="user.password"
              #password="ngModel"
              required
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Repeat password</mat-label>
            <input
              matInput
              type="password"
              id="password2"
              name="password2"
              [(ngModel)]="user.password2"
              #password2="ngModel"
              required
            />
          </mat-form-field>
        </div>
      </div>
      <div class="grid-2">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
              matInput
              type="text"
              id="name"
              name="name"
              [(ngModel)]="user.name"
              required
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              type="text"
              id="lastName"
              name="lastName"
              [(ngModel)]="user.lastName"
              required
            />
          </mat-form-field>
        </div>
      </div>
      <div class="grid-2">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input
              required
              matInput
              type="text"
              id="phoneNumber"
              name="phoneNumber"
              [(ngModel)]="user.phoneNumber"
              #phoneNumber="ngModel"
              pattern="([+]?\d{1,2}[.-\s]?)?(\d{3}[.-]?){2}\d{3}"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label
            >Address (Example: Novi Sad, Bulevar Oslobodjenja 13)</mat-label
          >

          <input
            required
            matInput
            type="text"
            id="adress"
            name="adress"
            [(ngModel)]="user.adress"
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            id="username"
            name="username"
            [(ngModel)]="user.username"
            required
          />
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Date of birth</mat-label>
          <input
            matInput
            type="date"
            id="dateBirth"
            name="dateBirth"
            [(ngModel)]="user.dateBirth"
            required
          />
        </mat-form-field>
      </div>

      <div class="center">
        <button class="primary-button" (click)="register()">
          Register
        </button>
        <br />
        <br />
        <div class="w-300 center">
          <span class="desc-normal">You have an account? &nbsp;</span
          ><a class="primary-link" [routerLink]="['/auth']"
            >Log in here
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
