.h1 {
  display: inline-flex;
}

img{
  width: 250px;
  background-position-y: right;

}


.bkg-image-auth {
  margin: 0;
  width: 50%;
  display: block;
  height: 76.5vh;
  padding-top: 15vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: right;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.primary-link {
  font-weight: 500;
  color: orange;
  background-color: transparent;
  text-decoration: none;
}


