.h1 {
  display: inline-flex;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  height: 100vh;
  width: 100vw;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 50%;
  max-height: 70%;
}

.ngForm {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
}

.form ngForm {
  /* CSS stilovi za vašu formu */
}



.bkg-image-auth {
  margin: 0;
  width: 50%;
  display: block;
  height: 76.5vh;
  padding-top: 15vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: right;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.primary-link {
  font-weight: 500;
  color: orange;
  background-color: transparent;
  text-decoration: none;
}


