<mat-sidenav-container class="example-container" position="end">
  <mat-sidenav-content position="end">
    <mat-toolbar>
      <div>
        <button
          *ngIf="roleUser || roleAdmin"
          mat-button
          [matMenuTriggerFor]="beforeMenu"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item [routerLink]="['/user/user']">Profil</button>
          <button mat-menu-item [routerLink]="['/auth']" (click)="logout()">
            Logout
          </button>
        </mat-menu>

        <!--  -->
      </div>
      <span class="menu-spacer"></span>

      <button
        mat-button
        *ngIf="!roleUser && !roleAdmin"
        [routerLink]="['/auth']"
        routerLinkActive="active-route"
      >
        Prijava
      </button>
    </mat-toolbar>

    <button
    mat-button
    *ngIf="!!roleAdmin"
    [routerLink]="['/comments/comments-for-approval']"
    routerLinkActive="active-route"
  >
    Comments
  </button>

    <button
    mat-button
    *ngIf="!!roleAdmin"
    [routerLink]="['/user/all-users']"
    routerLinkActive="active-route"
  >
    Users
  </button>

  <button
  mat-button
  *ngIf="!!roleAdmin|| !!roleUser"
  [routerLink]="['/workout-room/all']"
  routerLinkActive="active-route"
>
  Workout Rooms
  </button>

  <button
  mat-button
  *ngIf="!!roleAdmin"
  [routerLink]="['/workout-room/create']"
  routerLinkActive="active-route"
>
  Create Workout Room
</button>

<button
  mat-button
  *ngIf="!!roleAdmin || !!roleUser"
  [routerLink]="['/trainings/all']"
  routerLinkActive="active-route"
>
  All trainings
</button>

<button
  mat-button
  *ngIf="!!roleAdmin"
  [routerLink]="['/trainings/create']"
  routerLinkActive="active-route"
>
  Create training
</button>

<button
mat-button
*ngIf="!!roleAdmin || !!roleUser"
[routerLink]="['/trainings/shopping_cart']"
routerLinkActive="active-route"
>
Shopping cart
</button>


<button
mat-button
*ngIf="!!roleAdmin || !!roleUser"
[routerLink]="['/trainings/reservations']"
routerLinkActive="active-route"
>
Rezervacije
</button>

    <div class="mt-8vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
