<div class="table-wrapper box-shadow">
    <div class="center">
      <button (click)="process(true)" mat-button matTooltip="Prihvati sve">
        <mat-icon>save</mat-icon>
      </button>
      <button (click)="process(false)" mat-button matTooltip="Odbij sve">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="dateTime">
        <mat-header-cell *matHeaderCellDef>Date and time</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="DateTime">{{
          element.trainingSchedule.dateTime
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="workoutRoom">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Sala</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let element" data-label="Workout Room">{{
          element.trainingSchedule.workoutRoom.name
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="training">
        <mat-header-cell mat-header-cell *matHeaderCellDef
          >Training</mat-header-cell
        >
        <mat-cell mat-cell *matCellDef="let element" data-label="Training">{{
          element.trainingSchedule.training.name
        }}</mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  
    <mat-paginator
      [pageSizeOptions]="[10, 20, 30]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  
