<div class="center bkg-image-auth">
  <div class="card-wrapper-auth w-500">

    <h4 class="h4-bold">User profile</h4>
    <p class="orange-color desc-bold">{{ user.name + " " + user.lastName }}</p>
    <br />
    
    <form>
      
      <mat-form-field  class="w-100">
        <input
          matInput
          placeholder="Name"
          required
          type="text"
          [(ngModel)]="user.name"
          name="name"
          readonly
        />
        
      </mat-form-field>
      <mat-form-field  class="w-100">
        <input
          matInput
          required
          placeholder="Last Name"
          type="text"
          [(ngModel)]="user.lastName"
          name="lastName"
          readonly
        />
      </mat-form-field>

      <mat-form-field class="w-100">
        <input
          matInput
          required
          placeholder="Address"
          type="text"
          [(ngModel)]="user.adress"
          name="adresa"
          readonly
        />
      </mat-form-field>

      <mat-form-field class="w-100">
        <input
          matInput
          required
          placeholder="Email"
          type="text"
          [(ngModel)]="user.email"
          name="email"
          readonly
        />
      </mat-form-field>

      <mat-form-field class="w-100">
        <input
          matInput
          required
          placeholder="Username"
          type="text"
          [(ngModel)]="user.username"
          name="korisnickoIme"
          readonly
        />
      </mat-form-field>

      <mat-form-field  class="w-100">
        <input
          matInput
          required
          placeholder="Phone Number"
          type="text"
          [(ngModel)]="user.phoneNumber"
          name="brojTelefona"
          pattern="([+]?\d{1,2}[.-\s]?)?(\d{3}[.-]?){2}\d{3}"
          readonly
        />
      </mat-form-field>

      <mat-form-field  class="w-100">
        <input
          matInput
          required
          placeholder="Point Loyalty Card"
          type="text"
        
          [(ngModel)]="loyaltyCardPoint"
          name="loyaltyCardPoint"
          pattern="([+]?\d{1,2}[.-\s]?)?(\d{3}[.-]?){2}\d{3}"
          readonly
        />
      </mat-form-field>

      <div class="grid-2">
        <button mat-button (click)="goBack()" class="primary-link">
          <mat-icon> chevron_left </mat-icon>Back
        </button>
        <button mat-button (click)="requestCard()" *ngIf="!!roleUser" class="primary-link">
          <mat-icon> save </mat-icon>Get Loyalty Card
        </button>
      </div>
    </form>
  </div>
</div>
